spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: api-gateway
  mvc:
    problemdetails:
      enabled: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: employee-microservice
              uri: lb://employee-microservice
              predicates:
                - Path=/employee/**
              filters:
                - RewritePath=/employee/?(?<segment>.*), /${segment}
            
            - id: openapi
              uri: http://localhost:${server.port}
              predicates:
                - Path=/v3/api-docs/**
              filters:
                - RewritePath=/v3/api-docs/?(?<segment>.*), /${segment}/v3/api-docs
          discovery:
            locator:
              enabled: true
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods: "*"
                allowedHeaders: "*"
                allowCredentials: false
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Methods Access-Control-Allow-Headers RETAIN_FIRST

server:
  port: ${PORT:8080}
  shutdown: graceful

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
  client:
    service-url:
      defaultZone: http://${EUREKA_HOSTNAME:localhost}:${EUREKA_PORT:8761}/eureka/

springdoc:
  swagger-ui:
    use-root-path: true
#    urls:
#      - name: catalog
#        url: /v3/api-docs/catalog
#      - name: orders
#        url: /v3/api-docs/orders